@model List<Property>

@{
    ViewData["Title"] = "Lista de Propriedades";
}

<div class="text-center">
    <h1 class="display-4">InfinitIMO</h1>
    <p>Real Estate Property Management System</p>
</div>
<br />
<table class="table">    
    <tbody>
        @foreach (var property in Model)
        {
            <tr>
                <td style="width:340px;height:240px"><img src="https://picsum.photos/seed/@Guid.NewGuid()/340/280" alt="Imagem Aleatória" /></td> <!-- Imagem aleatória -->
                <td>
                    <span class="property-name">@property.Name</span>
                    <span class="property-price">@property.Price<span class="property-price-currency">€</span></span>
                    <span style="display: block;">@property.Type</span>
                    <span style="display: block;">@property.Location</span>
                    <span style="display: block;">@property.Description</span>
                </td>                                
            </tr>
        }
    </tbody>
</table>
